.breadcrumbs-wrap {
	margin: 20px 0;
	padding: 10px 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&.crumb {
				padding: 0 1em;
			}
			a{
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
