.footer {
	p {
		opacity: 0.8;
		font-size: 0.9em;
	}
}

.sub-footer {
	font-size: 0.9em;
	a {
		text-decoration: none;
	}
}
footer{
    .logo-wrap{
		text-align:left;
		svg,img{
			max-width:300px;
			@media(max-width: $mobile){
				max-width:250px;
			}
		}
		@media(max-width: $mobile){
			text-align: center;
		}
	}
}
