.fl-row-content-wrap{
	.fl-col-group{
		.fl-col{
			min-height: 0;
		}
		.fl-col-small{
			@media(max-width:768px){
				max-width: 100%;
			}
		}
	}	
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2rem;
}

h3, h4, h5, h6 {
	font-size: 1.6rem;
}
.no-border{
	.fl-module-content{
		a{
			border: 0 !important;
		}
	}
}
.general-btn{
	.fl-button-wrap {
		a{
			padding: 8px 16px;
			&.fl-button{
				span{
					color: inherit;
				}
				&:focus{
					top:0;
					outline: none;
				}
			}

		}
	}
	.post{
		.fl-post-text {
			.fl-post-more-link {
				a{
					padding: 8px 16px;
					span{
						color: inherit;
					}
				}
			}
		}
	}
	div[class^="fl-post-"]{
		a[class^="fl-post-"][class$="more"]{
			padding: 8px 16px;
			span{
				color: inherit;
			}
		}
	}
	.fl-module-content{
		.bx-wrapper{
			.fl-button-wrap {
				a{
					&.fl-button{
						span{
							color: inherit;
						}
					}
				}
			}
		}
	}
}
div.primary-btn,div.secondary-btn{
	div.fl-button-wrap {
		a{
			padding: 8px 16px;
			&.fl-button{
				color:#fff;
				border:0;
				span{
					color: inherit;
				}
				&:focus{
					top:0;
					border:0;
					outline: none;
				}
				&:hover{
					color: #fff;
					border:0;
					span{
						color:inherit;
					}
				}
			}

		}
	}
	div{
		.fl-post-text {
			.fl-post-more-link {
				a{
					padding: 8px 16px;
					color:#fff;
					span{
						color: inherit;
					}
				}
			}
		}
	}
	div[class^="fl-post-"]{
		a[class^="fl-post-"][class$="more"]{
			padding: 8px 16px;
			color:#fff;
			span{
				color: inherit;
			}
		}
	}
	.fl-module-content{
		.bx-wrapper{
			.fl-button-wrap {
				a{
					color:#fff;
					&.fl-button{
						span{
							color: inherit;
						}
					}
				}
			}
		}
	}
	form{
		div.wpforms-submit-container{
			button[type="submit"]{
				color:#fff;
				border:0;
				&:hover{
					border:0;
					color:#fff;
				}
			}
		}
	}
}
.fl-module{
	h1,h2,h3,h4,h5,h6{
		a{
			color: inherit;
		}
	}
}
.fl-builder-pagination{
	padding:20px 0;
	ul{
		li{
			.page-numbers{
				padding:8px 16px;
				border:0;
			}
			a{
				text-decoration:none;
			}
		}
	}
}
.btn-general,.fl-builder-content .general-btn .fl-module-content .fl-button-wrap a.fl-button,.general-btn .fl-module-content div[class^="fl-post-"] a[class^="fl-post-"][class$="more"],.general-btn .fl-module-content div[class^="fl-post-"] .fl-post-text .fl-post-more-link a,.fl-builder-content div.general-btn .fl-module-content form button[type="submit"]{
	padding: 8px 16px;
}