.hero{
	.fl-row-content-wrap{
		padding-left:5% !important;
		padding-right:5% !important;
		.fl-col-group{
			.hero-inner{
				color: #fff;

				.hero-button{
					display:inline-block;
					clear:none;
					& + .hero-button{
						margin-left: 20px;
					}
					.fl-button-wrap{
						a{
							padding: 9px 15px;
							font-family: inherit;
							text-transform:uppercase;
						}
					}				
					@media(max-width: $mobile_sm){
						display: block;
						& + .hero-button{
							margin-left: 0;
							margin-top: 15px;
						}
						.fl-button-wrap{
							a{
								display: block;
							}
						}
					}
				}
				.hero-button-lg{
					.fl-button-wrap{
						a{
							padding: 10px 15px;
							text-transform: uppercase;
							border-style: solid;
							border-width: 0px 0px 4px;
							border-color: transparent;
							&:hover{									
							    border-color: #000 #000 $violate;
							}
						}
					}
				}
			}
		}
		@media(max-width:$tablet){
			height: 600px;
			min-height: 600px;
		}
		@media(max-width:$mobile){
			height: 540px;
			min-height: 540px;
		}
		@media(max-width:$mobile_sm){
			height: 420px;
			min-height: 420px;
		}
	}
	&.video{
		.fl-row-content-wrap{
			.fl-col-group{
				.hero-inner{
					max-width: 940px;
					margin: 0 auto;
					display:block;
					float:none;
					text-align: center;
					.hero-title{
						h1{
							font-size: 50px;
							line-height: 1.2;
							@media(max-width: $tablet){
								font-size: 40px;
							}
							@media(max-width: $mobile){
								font-size: 35px;
							}
						}
					}
				}
			}			
			@media(max-width:$mobile){
				height: 550px;
				min-height: 550px;
			}						
		}		
	}
	&.photo{
		.fl-row-content-wrap{
			.fl-col-group{
				.hero-inner{
					max-width: 550px;
					padding: 29px;
					background-color: rgba(0, 0, 0, .5);
					-webkit-animation:slide-up 0.6s ease-out;
					-moz-animation:slide-up 0.6s ease-out;
					animation:slide-up 0.6s ease-out;
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
					.fl-rich-text{
						p{
							margin:0;
							font-size: 15px;
							font-weight: 300;
							line-height:20px;
						}
					}
				}
			}
		}
		@media(max-width:$tablet){		
			.fl-row-content-wrap{				
				.fl-col-group{
					.hero-inner{
						margin: 0 auto;
						display:block;
						float:none;
						text-align:center;
						h1,fl-heading{
							text-align:center;
						}
					}
				}
				
			}
			
		}
		@media(max-width: $mobile){		
			.fl-row-content-wrap{
				.fl-col-group{
					.hero-inner{					
						h1{
							font-size: 25px;
						}
					}
				}
			}
		}
		@media(max-width: $mobile_sm){		
			.fl-row-content-wrap{				
				.fl-col-group{
					.hero-inner{					
						padding: 15px;
						h1{
							font-size: 20px;
						}
						.fl-rich-text{
							p{
								font-size:14px;
			    				line-height:17px;
							}
						}
					}
				}
			}
		}
		
	}
}

// Animations

@-webkit-keyframes slide-up{
	from{
		-webkit-transform: translateY(70px);
		-ms-transform: translateY(70px);
		transform: translateY(70px); 
		opacity:0
	}
	to{
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px); 
		opacity:1
	}
}
@keyframes slide-up{
	from{
		-webkit-transform: translateY(70px);
		-ms-transform: translateY(70px);
		transform: translateY(70px); 
		opacity:0
	}
	to{
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px); 
		opacity:1
	}
}
