/* -----------------------------------------------------------------------------
 * HAMBURGER ICONS COMPONENT
 * 
 - *---------------------------------------------------------------------------- */

// vars

$button-width: 28px;                    // The width of the button area
$button-height: 24px;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 5px;                      // The left/right padding between button area and bars.
$button-bar-space: 6px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration
$button-color: #077bd6;
$button-background-color: #FFFFFF;
$button-left-position : 50%;
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: $button-width;
	height: $button-height;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	-webkit-transition: background $button-transistion-duration;
	transition: background $button-transistion-duration;
	left: -webkit-calc(#{$button-left-position} - #{$button-width / 2});
	left: calc(#{$button-left-position} - #{$button-width / 2});
}

.c-hamburger:focus {
	outline: none;
}

.c-hamburger span {
	display: block;
	position: absolute;
	top: ($button-height / 2) - ($bar-thickness / 2);
	height: $bar-thickness;
	padding-top: 0;
	width: 100%;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: $bar-thickness;
	content: "";
}

.c-hamburger span::before {
	top: -8px;
}

.c-hamburger span::after {
	bottom: -7px;
}

.c-hamburger--htx span {
	transition: background 0s $button-transistion-duration;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: $button-transistion-duration, $button-transistion-duration;
	transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
	transition-property: top, transform;
}

.c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

/* active state, i.e. menu open */


.selected .c-hamburger--htx span {
	background: none;
}

.selected .c-hamburger--htx span::before {
	top: 0;
	transform: rotate(45deg);
}

.selected .c-hamburger--htx span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.selected .c-hamburger--htx span::before,
.selected .c-hamburger--htx span::after {
	transition-delay: 0s, $button-transistion-duration;
}

.tabbar-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index:9999;
	
	.tabbar {
		display: flex;
		width: 100vw;
		flex-wrap: nowrap;
		justify-content: space-around;
		
		.tab {
			cursor: pointer;
			flex-basis: 25%;
			width: 25%;
			text-align: center;
			position: relative;
			float: left;
			box-sizing: border-box;
			button {
				width: 100%;
				appearance: none;
				box-shadow: none;
				border-radius: 0;
				border: 0;
				padding: 5px 0;
				cursor: pointer;
				height: 61px;				
			}
			
			button:focus {
				outline: none;
			}
			
			span.label {
				font-size: 0.7em;
				font-weight: 300;
				display: block;
			}
			
			svg {
				height: 18px;
				width: auto;
				background: transparent;
			}
			
			div.tabbar-menu {
				display: block;
				position: fixed;
				height: 0;
				bottom: 62px;
				overflow: hidden;
				text-align: left;
				left: 0;
				right: 0;
				transition: height 0.6s ease-in-out 0s;
				div:not(.search-bar){
					float: left;
					width: 100%;
					height: calc(100% - 62px);
					position: absolute;
					top: 55px;
				}
				ul {
					list-style-type: none;
					padding: 0;
					display: block;
					position: relative;
					max-height: 80%;
					max-height: calc(100% - 54px);
					margin: 0 0 20px;
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;
					
					ul.children, ul.sub-menu {
						display: none;
						margin: 0;
						
						li {
							a {
								padding-left: 15px;
							}
						}
					}
				}
				
				li {
					transition: all 0.2s ease-in-out 0s;
					
					&:last-child {
						border-bottom: none;
					}
					
					a {
						display: block;
						padding: 10px 15px;
						font-size: 1.2em;
						text-decoration: none;
					}
				}
			
				li.page_item_has_children, li.menu-item-has-children {
					position: relative;
					> a {
						width: 80%;
					}
					
					&:after {
						transition: transform 0.2s ease-in-out 0s;
						font-family: "Font AWesome 5 Pro";
						content: '\f107';
						visibility: visible;
						position: absolute;
						top: 8px;
						right: 20px;
						width: auto;
						cursor: pointer;
						transform: rotate( -90deg );
					}
					
					&.selected {
						&:after {
							transform: rotate( 0deg );
						}
					}
				}
			}
						
			&:nth-child(4) {
				border-right: none !important;
			}
			
			&.selected {
				div.tabbar-menu{
					height: 100%;
					height: calc(100% - 58px);
				}
			}
		}
		.search-bar{
			width: 100%;
			float: left;
			padding: 10px 5px 5px;
			border-bottom: 1px solid #fff;
			height: 55px;
			box-sizing: border-box;
			*{
				box-sizing: border-box;
			}
			input{
				width: 100%;
				border: 0;
				height: 38px;
				padding: 5px 10px;
				color: #fff;
				font-size: 1em;
				&:focus{
					outline: none;
				}
				@include placeholder(){
					color: #fff;
					font-size: 1em;
					opacity: 0.8;
				}

			}
			#searchsubmit{
				width: 40px;
				float: left;
				background: none;
				background-color: transparent;
				height: 38px;
				line-height: 38px;
				padding: 0;
				font-size: 1.4em;
				cursor: pointer;
				&:focus{
					outline: none;

				}
			}
		}
	}
}

// Legacy Menu. Don't use for new sites.
.mobile-menu-wrap {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 99;
	top: 100%;
	left: 0%;
	height: calc(100vh - 143px);
	
	background: $button-color;
	
	> div {
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 80%;
	}
	
	ul.menu {
		width: 90%;
		margin: 15px auto;
		padding: 0;
		li {
			padding: 15px 10px;
			cursor: pointer;
			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				display: block;
				width: 100%;
				height: 100%;
			}
			&:hover {
				a {
					color: #fff;
				}
				background-color: #105e9c;
			}
			
			&.menu-item-has-children {
				position: relative;
				&:after {
					font-family: FontAwesome;
					position: absolute;
					content: '\f107';
					visibility: visible;
					opacity: 1;
					top: 15px;
					right: 15px;
					width: auto;
					cursor: pointer;
					padding: 0 15px;
					color: white;
					font-size: 1.2em;
					font-weight: bold;
				}
				
				&.rotated {
					&:after {
						transform: rotate(180deg);
					}
				}
				
				ul.sub-menu {
					list-style-type: none;
					display: none;
					margin: 15px 0;
				}
			}
		}
		.mobile-special-button {
			background-color: #82bf3a;
			position: fixed;
			width: 90%;
			bottom: 20px;
			
			&:hover {
				background-color: #77b42f;
			}
		}
	}
	
	&.is-open {
		display: block;
	}
}
