/* ** Colors ** */

//blue
$blue : #31a3fd;
$blue_dark : #3387c9;

//violate
$violate: #7e69af;
$violate_dark: #6d56a2;
$violate_deep: #5d4592;

/* ** Media Queries ** */

$small_desktop: 1100px;
$tablet: 		992px;
$mobile: 		768px;
$mobile_sm: 	480px;
