.search-result {
	border-left: 4px solid;
	border-left-color: #f1f1f1;
	padding: 5px 20px;
	transition: border 0.4s ease-in-out 0s, background 0.4s ease-in-out 0s;
	.post-title {
		font-family: 'PT Serif', serif;
		font-size: 26px;
		line-height: 32px;
		font-style: italic;
		font-weight: 400;
		text-transform: capitalize;
		margin-bottom: 0px;
		margin-top: 0;
		a {
			color: #444444;
		}
	}
	.post-excerpt {
		color: #444444;
		font-size: 16px;
		line-height: 22px;
		p {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	
	&:hover {
		border-left: 14px solid;
		background-color: #f5f5f5;
	}
}

.search-results {
	.fl-post-feed-post {
		padding-bottom: 10px;
		border-bottom: 0;
	}
}
